<fieldset>
  <legend>Sample #<%= f.object.id %></legend>
  <h3>Edit information about this sample</h3>
  <ol>
    <%= f.hidden_field(:site_id) %>
    <%= form_field(f, :text_field, :lab_number, 'Lab Number') %>
    <%= form_field(f, :text_field, :radiocarbon_age_bp, 'Radiocarbon Age Before Present') %>
    <%= form_field(f, :text_field, :std_dev, 'Standard Deviation') %>
    <%= form_field(f, :text_field, :lower_cal_date, 'Lower Calibrated Date') %>
    <%= form_field(f, :text_field, :median_cal_date, 'Median Calibrated Date') %>
    <%= form_field(f, :text_field, :upper_cal_date, 'Upper Calibrated Date') %>
    <%= form_field(f, :text_area, :description, 'Description') %>
  </ol>
</fieldset>