<% content_tag :tr, :class => 'sample', :id => dom_id(sample) do %>
  <td class="sample_lab_number"><%= sample.lab_number %></td>
  <td class="sample_site_name"><%= sample.site.name %></td>
  <td class="sample_radiocarbon_age_bp"><%= sample.radiocarbon_age_bp %></td>
  <td class="sample_std_dev"><%= sample.std_dev %></td>
  <td class="sample_lower_cal_date"><%= sample.lower_cal_date %></td>
  <td class="sample_median_cal_date"><%= sample.median_cal_date %></td>
  <td class="sample_upper_cal_date"><%= sample.upper_cal_date %></td>
  <td class="sample_description"><%= sample.description %></td>
  <td class="sample_controls"><%= link_to 'Edit', edit_sample_path(sample) %> | <%= link_to 'Delete', sample_path(sample), :method => :destroy, :confirm => "Are you sure you want to delete record #{sample.id}?" %></td>
<% end %>