<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>LOA Maize Project</title>
    <%= javascripts_frameworks %>
    <%= stylesheet_link_tag('formtastic', 'formtastic_changes', 'application', 'html5_elements', :cache => 'style') %>
  </head>
  <body>
    <header>
      <%= yield :header %>
      <nav><%= yield :menu %></nav>
    </header>
    <div id="flash">
      <% flash.each do |key, value| -%>
        <div id="flash_<%= key %>"><%=h value %></div>
      <% end -%>
    </div>
    <%= yield %>
    <footer><%= yield :footer %></footer>
  </body>
</html>